<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/styles.css') }}">
    <title>UNI20 Newsletter</title>
</head>

<body>
    <header>
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo">
        </a>
    </header>
    <div class="container">
        <div class="left">
            <h2>Welcome to the UNI20 Newsletter Fam 🌍</h2>
            <div>Your weekly one-stop hub for all things international student life in the US! 🇺🇸🎓</div>

            <h3>Fresh Immigration Scoop 📰</h3>
            <div>Stay in-the-know with the latest visa, immigration policies, travel advisories and all the edu-buzz you need.</div>

            <h3>Jobs & Internships 💼</h3>
            <div>Find guidance on work visas, networking, and as well as exclusive internship and job opportunities for international students.</div>

            <h3>Events & Meetups 🎉</h3>
            <div>Get exclusive and first access to the coolest events, workshops, and webinars tailored for international students, covering career growth, culture vibes, and making connections.</div>
        </div>
        <div class="right">
            <h1>Subscribe to Our Newsletter</h1>
            <form class="subscription-form" method="POST" action="{{ url_for('index') }}">
                <input type="email" id="email" name="email" placeholder="Enter your email..." required>
                <button type="submit">Join The Fam!</button>
                <div class="error-message">
                    {% with messages = get_flashed_messages() %} {% if messages %}
                    <div>{{ messages[0] }}</div>
                    {% endif %} {% endwith %}
                </div>
            </form>
        </div>
    </div>
    <footer>
        <p>&copy; UNI20. All rights reserved.</p>
    </footer>

</body>

</html>