<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/styles.css') }}">
    <title>Thank You!</title>
</head>

<body>
    <header>
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo">
        </a>
    </header>
    <div class="container">
        <div class="thankyou">
            <h2>You're In! Thanks for subscribing to UNI20!</h2>
            <h4>Here's what to expect: </h4>
            <div>You’ll see us in your inbox every week. In our weekly newsletter, we’ll cover immigration policies, scholarships, jobs and a whole lot more for international students</div>
            <div>Welcome to the team!</div>
            <div>The UNI20 crew 🥳 </div>
        </div>
    </div>
    <footer>
        <p>&copy; UNI20. All rights reserved.</p>
        <p></p>
    </footer>
</body>

</html>